@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xm8gmt');
  src:  url('fonts/icomoon.eot?xm8gmt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xm8gmt') format('truetype'),
    url('fonts/icomoon.woff?xm8gmt') format('woff'),
    url('fonts/icomoon.svg?xm8gmt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

input[type="search"],[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-weight: normal;
}

.icon-chevron-left:before {
  content: "\e900";
}
.icon-trash:before {
  content: "\e902";
}
.icon-magnifying-glass:before {
  content: "\e903";
}
.icon-minus:before {
  content: "\e904";
}
.icon-plus:before {
  content: "\e905";
}
.icon-shopping-cart:before {
  content: "\e906";
}
